.banner1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    height: 30px;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 100%, hsla(186, 100%, 69%, 0.3) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 100%, hsla(186, 100%, 69%, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 100%, hsla(186, 100%, 69%, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.banner1 p{
    display: inline-block;
    color: snow;
    padding: 0 2%;
    font-size: 15px;
    flex: 1;
    text-align: center;
}

.banner1 p#ban1{

}