.banner1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4%;
    height: 25px;
    background: hsla(294, 100%, 55%, 1);
    background: linear-gradient(90deg, hsla(294, 100%, 55%, 0.6) 27%, hsla(339, 100%, 55%, 0.7) 74%);
    background: -moz-linear-gradient(90deg, hsla(294, 100%, 55%, 0.6) 27%, hsla(339, 100%, 55%, 0.7) 74%);
    background: -webkit-linear-gradient(90deg, hsla(294, 100%, 55%, 0.6) 27%, hsla(339, 100%, 55%, 0.7) 74%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E81CFF", endColorstr="#FF1B6B", GradientType=1 );
}

.banner1 p{
    display: inline-block;
    color: snow;
    padding: 0 2%;
}