.top-header{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 90px;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    margin: 0 2%;
    padding: 0 2%;
    justify-content:space-between;
}