.top-header{
    display: flex;
    flex-direction: row;
    background: hsla(186, 100%, 69%, 1);
    background: linear-gradient(90deg, hsla(186, 100%, 69%, 0.6) 22%, hsla(217, 100%, 50%, 0.7) 59%);
    background: -moz-linear-gradient(90deg, hsla(186, 100%, 69%, 0.6) 22%, hsla(217, 100%, 50%, 0.7) 59%);
    background: -webkit-linear-gradient(90deg, hsla(186, 100%, 69%, 0.6) 22%, hsla(217, 100%, 50%, 0.7) 59%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#60EFFF", endColorstr="#0061FF", GradientType=1 );
    height: 90px;
    align-items: center;
    align-content: center;
    padding: 0 2%;
    justify-content:space-between;
}