.menu{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    align-content: center;
    height: 60px;
}

.menu a{
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 4px;
}

.menu li{
   list-style-type: none;
}