.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 60px;
    /* align-self: center; */
}

.menu a{
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 4px;
    color: white;
}

.menu li{
   list-style-type: none;
}

.menu li:hover{
    border-bottom: 1px solid white;
}

/* ----------------------------------------------------------------------------- */

.btnQ1{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 80px;
    height: 28px;
    border-radius: 6px;
    background: blue;
    color: white;
    cursor: pointer;
}

.btnQ1 h3{
    text-align: center;
    width: 100%;
}